<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPaises" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62839/Paises.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPaises" contract="PaisesWS.IPaises"
                name="BasicHttpBinding_IPaises" />
        </client>
    </system.serviceModel>
</configuration>